@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 700;
  font-size: 20px;
}

header .presentation {
  margin: 50px 0;
  background: url("./img/bg.jpeg") no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}
